<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="navinAlien" class="com.kenneth.SpringDemo.NavinAlien"
		autowire="byType">
		<!-- <constructor-arg value="12"></constructor-arg> <constructor-arg ref="laptop"></constructor-arg> -->
		<property name="age" value="10"></property>
		<!-- <property name="com" ref="desktop"></property> -->
	</bean>

	<bean id="com" class="com.kenneth.SpringDemo.Laptop"
		primary="true">

	</bean>


	<bean id="desktop" class="com.kenneth.SpringDemo.Desktop">

	</bean>


</beans>