<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="navinAlien" class="com.kenneth.SpringDemo.NavinAlien">
		<constructor-arg value="12"></constructor-arg>
		<constructor-arg ref="laptop"></constructor-arg>
		<!-- <property name="age" value="10"></property> <property name="laptop" 
			ref="laptop"></property> -->
	</bean>

	<bean id="laptop" class="com.kenneth.SpringDemo.Laptop">

	</bean>



</beans>